[Unit]
Description=Prometheus Service
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/prometheus/prometheus \
--config.file=/etc/prometheus/prometheus.yml

[Install]
WantedBy=multi-user.target
